* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-ex2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerbox {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #008080;
  margin-bottom: 2px;
}

.navbox {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffa500;
}

.footerbox {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0e68c;
  margin-top: 2px;
}

.box-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 0.5px solid white;
}

.box-2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 0.5px solid white;
}

.box-3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 0.5px solid white;
}
